:root {
    --text-color: #fff;
    --goldenrod: rgb(245, 204, 101);
    --green: rgb(36, 105, 36);
    --body-bg-color: #333;
    --font-family: "Inter", "Arial", sans-serif;
}

/* FONTS */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: local(""),
         url("../fonts/inter-v11-latin-regular.woff2") format("woff2"), 
         url("../fonts/inter-v11-latin-regular.woff") format("woff");
    font-display: swap; 
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: local(""),
         url("../fonts/inter-v11-latin-500.woff2") format("woff2"), 
         url("../fonts/inter-v11-latin-500.woff") format("woff");
    font-display: swap; 
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: local(""),
         url("../fonts/inter-v11-latin-700.woff2") format("woff2"), 
         url("../fonts/inter-v11-latin-700.woff") format("woff");
    font-display: swap; 
  }

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

*:focus {
    outline: 3px dashed var(--text-color);
    outline-offset: 3px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--body-bg-color);
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.main-content {
    flex-grow: 1;
}

/* Header */
.header {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(17, 17, 17, 0.3);
}

.header__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 200px;
    font-size: 32px;
    font-weight: 700;
    color: var(--goldenrod);
}

.header__logo-link:hover {
    opacity: 0.6;
}

.header__logo {
    width: 139px;
    height: 20px;
    transition: 0.4s ease opacity;
}

.contact__list {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact__item:not(:last-child) {
    margin-right: 15px;
}

.contact__link {
    display: flex;
    align-items: center;
    color: var(--goldenrod);
    padding: 5px 15px;
    font-weight: 500;
    border: 3px solid var(--goldenrod);
    border-radius: 8px;
    transition: color 0.4s ease,
    border 0.4s ease;
}

.contact__link:hover {
    border: 3px solid var(--text-color);
    color: var(--text-color);
}

.contact__icon {
    width: 26px;
    height: 26px;
    color: #fff;
    margin-right: 10px;
    transition: color 0.4s ease;
}

.contact__icon:active {
    opacity: 0.6;
}

/* Profile */
.profile {
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 0 0 8px var(--green);
}

.profile__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile__img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
}

.profile__heading {
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
    font-size: 32px;
}

.profile__prof {
    font-size: 18px;
    color: var(--goldenrod);
    margin: 0;
}

/* Projects */
.projects {
    padding-top: 50px;
    padding-bottom: 50px;
}

.projects__heading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 32px;
    font-weight: 700;
    color: var(--goldenrod);
}

/* Projects__list */
.projects__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    margin-left: -30px;
    margin-bottom: -30px;
}

.project__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    padding: 30px;
    border: 2px solid var(--green);
    box-shadow: 0 0 5px var(--green);
    background-color: rgb(35, 64, 67);
    border-radius: 10px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.project__icon {
    height: 30px;
    margin-bottom: 20px;
}

.icon-wrapper {
    display: flex;
}

.icon-name {
    margin-top: 3px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;
}

.ecommerce-icon {
    color: var(--text-color);
    margin-bottom: 20px;
}

.skilled-icon {
    color: var(--text-color);
    margin-bottom: 20px;
}

.project__name {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
}

.project__heading {
    font-size: 28px;
    font-weight: 700;
    color: var(--goldenrod);
    margin-top: 0;
    margin-bottom: 20px;
}

.project__about {
    flex-grow: 1;
    margin-top: 0;
    margin-bottom: 35px;
}

.contact__list--project {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.project__link {
    background-color: var(--green);
    padding: 5px 20px;
    color: var(--goldenrod);
    border-radius: 8px;
    border: 3px solid var(--text-color);
    transition: color 0.4s ease,
    border 0.4s ease;
}

.project__link:hover {
    border: 3px solid var(--goldenrod);
    color: var(--text-color);
}

/* Footer */
.footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: rgba(17, 17, 17, 0.3);
    border-top: 2px solid var(--green);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo-link {
    display: flex;
    flex-shrink: 0;
    margin-right: 200px;
    font-size: 32px;
    font-weight: 700;
    color: var(--goldenrod);
}

.footer__logo-link:hover {
    opacity: 0.6;
}

.footer__logo {
    width: 139px;
    height: 20px;
    transition: 0.4s ease opacity;
}

.contact__item--footer:not(:last-child) {
    margin-right: 30px;
}

.contact__telegram-link {
    display: flex;
    align-items: center;
    color: var(--text-color);
    padding: 5px 15px;
    font-weight: 500;
    border: 3px solid var(--text-color);
    border-radius: 8px;
    transition: color 0.4s ease,
    border 0.4s ease;
}

.contact__telegram-link:hover {
    border: 3px solid var(--goldenrod);
    color: var(--goldenrod);
}

.telegram-name {
    margin-left: 10px;
}

/* Content */
.content {
    padding-top: 80px;
    padding-bottom: 80px;
}

.back-btn {
    display: inline-block;
    padding: 5px 20px;
    align-items: center;
    background-color: rgb(53, 57, 57);
    border: 1px solid var(--text-color);
    box-shadow: 0 0 5px var(--text-color);
    margin-bottom: 30px;
}

.back-btn-icon {
    color: var(--text-color);
    margin-right: 10px;
}

.back-btn-text {
    color: var(--text-color);
}

.content__heading {
    text-align: center;
    margin-top: 0;
    margin-bottom: 80px;
    color: var(--goldenrod);
}

.content__about {
    display: flex;
}

.content__list {
    width: 400px;
    padding-top: 60px;
    margin: 0;
    margin-right: 50px;
}

.content__item-title {
    font-size: 20px;
    color: var(--goldenrod);
    margin-right: 10px;
}

.content__item-heading {
    color: var(--goldenrod);
    margin-right: 10px;
}

.content__img {
    width: 660px;
}

